<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>
  <header>
    <div class="header-container">
     
      <a href="{{ url_for('main.home') }}" class="logo-link">
        <div class="logo">
          <img src="https://i.ibb.co/Y72pJfQc/log.png" alt="Aqua Pure Logo" class="logo-img" />
          <div class="logo-text">Water Lab</div>
        </div>
      </a>
      
      <div class="menu-toggle" id="menuToggle">
        <i class="fas fa-bars"></i>
      </div>
      
      <ul class="nav-links" id="navLinks">
        <li><a href="{{ url_for('main.home') }}"><i class="fas fa-home mobile-icon"></i> Home</a></li>
        <li><a href="{{ url_for('main.monitoring') }}"><i class="fas fa-tachometer-alt mobile-icon"></i> Monitor</a></li>
        <li><a href="{{ url_for('main.alerts') }}"><i class="fas fa-triangle-exclamation mobile-icon"></i> Alerts</a></li>
        <li><a href="{{ url_for('main.about') }}"><i class="fas fa-info-circle mobile-icon"></i> About</a></li>
        <li><a href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt mobile-icon"></i> Logout</a></li>
      </ul>
    </div>
  </header>

  <section class="hero">
    <div class="hero-content">
      <h2>Promoting water quality in rural </h2>
      <p class="organization-description">
        Empowering environmental health officers to monitor water safety.
      </p>
    </div>
    <!-- Enhanced Monitor Button -->
    <a href="{{ url_for('main.monitoring') }}" class="btn-monitor">
      <i class="fas fa-tachometer-alt"></i> Monitor Water Quality
    </a>
  </section>

  <main>
    <section class="dashboard">
      <div class="card">
        <p>Water  from rivers, lakes, and aquifers needs  proper monitoring to ensure safety and purity.</p>
      </div>
      <div class="card">
        <p>Contaminated water spreads diseases like cholera and typhoid. Regular testing ensures safe drinking water for everyone.</p>
      </div>
      <div class="card">
        <p>Clean water supports health, reduces disease, and improves community well-being.</p>
      </div>
    </section>
  </main>

  <!-- Enhanced Footer -->
  <footer>
    <div class="footer-content">
      <p>Everyone deserves clean water.</p>
    </div>
  </footer>
  <script src="{{ url_for('static', filename='js/menu_button.js') }}"></script>


</body>
</html>